.page-header
  h1 New project

- form_for(project, {action: path_to.projects(), method: 'POST', id: "project_form"}, function (form) {
  != partial('projects/form.jade', {locals: {form: form, project: project}})
  .actions
    != form.submit('Create project', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.projects(), {class: 'btn'})
- });
