.page-header
  h1 Details of project

div(about=path_to.project(project))
  .field(property='name')= project.name
  .field(property='repo')= project.repo

.actions
  != link_to('Edit', path_to.edit_project(project), {class: 'btn primary'}) + ' '
  != link_to('Delete', path_to.project(project), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != link_to('Back to index', path_to.projects())
